ul{
    list-style-type: none;
}
li{
    list-style-type: none;
    display: inline;
   

}
.link{
    padding: 10px 15px;
    border-radius: 15px;
    color: #7A785A;
    list-style-type: none;
    text-decoration:none;

}
button{
    margin: 0;
}
.pagination{
    display: flex;
    justify-content: end;
    margin-right: 30px
}
.link:hover{

    background-color: #E8E6DD;
    transition: all ease 0.3s;
    cursor: pointer;

}
button.buton-active{
    background-color: #7A785A;
    transition: all ease 0.3s;
    color: #BCB9A2;

}