button {
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: #7A785A;;
    
    
}

button:hover {
    background-color: #E8E6DD;
    transition: all ease 0.3s;

}

.section-button {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 0px 50px;
}

span.line {
    display: block;
    height: 5px;
    background-color: #BFBB41;
    margin: 5px 50px;
    border-radius: 10px;
}

.section-filter{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

button.filter-inactive{
    color: #BCB9A2;
    background-color: #E8E6DD;
    margin-right: 30px;
}
button.filter-inactive:hover{
    background-color: #CECBB2;
    color: #7A785A;
}

.section-rown{
    margin: 50px;
}
.section-filter-left{
    display: flex;
    justify-content: space-between;

}